body {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: lightgrey;
  margin: 0;
  padding: 0;  
   }


   a {
  text-decoration: none;
  color: black;
  font-size: 15px;
   }


   ul {
  list-style: none;
   }

   li {
  display: inline-block;
   }


   img {
  width: 400px;
  height: 300px;
  border-radius: 5px;
   }

   p {
  margin: 20px auto;
   }


   header, footer {
  background-color: grey;
  color: white;
  padding: 1px;
   }


   main {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
   }

   #intro {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  }

  .date {
  color: orange;
  font-size: 1.5em;
  }

  .game-item {
  background-color: lightblue;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  }

iframe {
  width: 60%;
  height: 300px;
    border-radius: 5px; 
    background-color: lightgreen; 
  margin: 20px auto;
}
